@import "../../scss/some-styles";

table {
  width: 100%;
  display: block;
  height: 100%;

  tr {
    width: 100%;
    border: 1px solid black;
    @include black-text();
  }

  td {
    align-items: center;
    text-align: center;
  }
}
